configuration {
  display-drun: "Apps:";
  display-window: "Windows:";
  display-calc: ">";
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMono Nerd Font Medium 12";
  modi: "window,run,drun";
  show-icons: true;
  icon-theme: "Papirus";
}

@theme "~/.config/rofi/rook.rasi"

